PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "_prisma_migrations" (
    "id"                    TEXT PRIMARY KEY NOT NULL,
    "checksum"              TEXT NOT NULL,
    "finished_at"           DATETIME,
    "migration_name"        TEXT NOT NULL,
    "logs"                  TEXT,
    "rolled_back_at"        DATETIME,
    "started_at"            DATETIME NOT NULL DEFAULT current_timestamp,
    "applied_steps_count"   INTEGER UNSIGNED NOT NULL DEFAULT 0
);
INSERT INTO _prisma_migrations VALUES('b19ba3f7-f3f6-480d-aade-f8fb6f12cb6d','a58578a8df30f084d56ba600d9cb9fee6cbc788deda935e88ccf5a076f272138',1756770225351,'20250901234158_init',NULL,NULL,1756770225328,1);
INSERT INTO _prisma_migrations VALUES('20633996-79bf-455e-881c-917711d367ed','53f651dfba77ef0bddfff5f4bc4cf198af4e61d2fd2843cf7513161dbc150591',1756770225373,'20250901234227_init',NULL,NULL,1756770225353,1);
CREATE TABLE IF NOT EXISTS "User" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "username" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "userAuthToken" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    "userDisabled" BOOLEAN NOT NULL DEFAULT false,
    "role" TEXT NOT NULL
);
INSERT INTO User VALUES('338c89c5-ba8f-4c62-a374-0edbab21d8c0','admin','$2b$10$7X99vVCvLI2MIADeMexKOeXe7FS7TyvYb9M7v/LUV9/sMY0KzbstC','0e64078a-da72-4a41-b62c-965cff9727b2',1756770226060,1756770760938,0,'ADMIN');
CREATE TABLE IF NOT EXISTS "Recipe" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "name" TEXT NOT NULL,
    "ingredients" TEXT NOT NULL,
    "steps" TEXT NOT NULL,
    "tags" TEXT NOT NULL,
    "rating" INTEGER,
    "preptime" INTEGER,
    "cooktime" INTEGER,
    "portions" INTEGER,
    "tools" TEXT NOT NULL,
    "image" TEXT,
    "createdat" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "calories" INTEGER,
    "proteins" INTEGER,
    "carbs" INTEGER,
    "fats" INTEGER,
    "source" TEXT,
    "addedByUser" TEXT NOT NULL
);
INSERT INTO Recipe VALUES(2,'Pates tomate','[{"name":"Pates","quantity":"100","unit":"g"},{"name":"Tomates","quantity":"200","unit":"g"}]','','vég├®,rapide',1,5,5,1,'','',1756771591073,999,90,90,10,'','admin');
INSERT INTO Recipe VALUES(10,'Protein dough','[{"name":"Poudre d''amande","quantity":"10","unit":"g"},{"name":"Beurre de cacahu├¿tes","quantity":"10","unit":"g"},{"name":"Whey","quantity":"30","unit":"g"}]','["Mix all"]','snack,rapide',5,5,0,1,'[]','',1757002850035,226,25,9,11,'','Lucas');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('Recipe',11);
CREATE UNIQUE INDEX "User_username_key" ON "User"("username");
CREATE UNIQUE INDEX "User_userAuthToken_key" ON "User"("userAuthToken");
COMMIT;
